// 背景颜色配置
$global-background-color: #f5f7f9;
$global-header-bg-color: #334eb4;
// 局部背景颜色配置
$global-card-bg-color: #fff;
// 字体颜色配置
$global-font-color: #333;
$global-font-color-f: #fff;
$global-font-color-active: #409eff;

// 按钮颜色配置
$global-btn-color: #fff;
// 边框线颜色配置
$global-border-color: #dcdfe6;

// 内边距配置
$global-padding: 20px;
$global-padding-top: 20px;
$global-padding-bottom: 20px;
$global-padding-right: 20px;
$global-padding-left: 20px;
// 外边距配置
$global-margin: 20px;
$global-margin-top: 20px;
$global-margin-bottom: 20px;
$global-margin-right: 20px;
$global-margin-left: 20px;

// 圆角配置
$global-border-radius: 4px;

// 边框阴影配置
$global-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

// 字体配置
$global-font-family: 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// 字体大小配置
$global-font-size: 14px;

// 字体粗细配置
$global-font-weight: 400;

// 背景图片配置
$global-background-image: url('../assets/bg.jpg');
